In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm

In [12]:
#d1={'tm1':[1,2,3,4]}
#print(pd.DataFrame(d1))

In [133]:
# constructing a dataframe

data = {'Tm1' : [4,3,2], 'Tm2' : [2,6,3], 'Tm3' : [1,2,3]}
index=['a','b','c']
df=pd.DataFrame(data,index)
df1=df.reset_index(inplace=False)
#df2=df.reset_index(inplace=False)
#df2=df1.reset_index()
#df.set_index(['Tm1'],inplace=True)
print(df)
df1
#print(df2)

   Tm1  Tm2  Tm3
a    4    2    1
b    3    6    2
c    2    3    3

  index  Tm1  Tm2  Tm3
0     a    4    2    1
1     b    3    6    2
2     c    2    3    3

In [134]:
# if we want to unpivot above dataframe from wide format to long format we use melt() command

df2=pd.melt(df1,id_vars=['index'],value_vars=['Tm1','Tm2','Tm3'])
#df1.columns=['index','treatments','value']
df2

  index variable  value
0     a      Tm1      4
1     b      Tm1      3
2     c      Tm1      2
3     a      Tm2      2
4     b      Tm2      6
5     c      Tm2      3
6     a      Tm3      1
7     b      Tm3      2
8     c      Tm3      3

In [132]:
sr=pd.Series([10,25,13,15,16])
sr1=pd.Series([20,22,13,15,16])
ind=['coke','fanta','sprite','pepsi','dew']
sr.index=ind
sr1.index=ind
#df=pd.DataFrame(sr,ind)
#print(df)
#print(sr,sr1)

In [80]:
result=sr.reset_index()
print(result)
#print(result.type())

    index   0
0    coke  10
1   fanta  25
2  sprite  13
3   pepsi  15
4     dew  16

AttributeError: 'DataFrame' object has no attribute 'type'

In [67]:
#H0: Mu=15 and Ha: Mu not equal to 15
x=[13,8,10,10,8,9,10,11,6,8,12,11,11,12,10,12,7,10,11,8]
stats.ttest_1samp(x,10)

Ttest_1sampResult(statistic=-0.35843385854878496, pvalue=0.7239703579964252)

In [79]:
(1-stats.norm.cdf(1.28))*2

0.20054513590888412

In [71]:
stats.t.cdf(-0.3584,19)

0.36199764140607527

In [76]:
stats.t.ppf(0.05,19)

-1.7291328115213678

In [125]:
1-stats.norm.cdf(2.81)

0.002477074998785911